#randomDataBtnHolder {
    max-width: 150px;
    align-items: center;
    margin: 0 auto;
}

.btn .btn-primary {
    border-color: #0d6efd;
}


#title {
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 5px;
}
#p1 {
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: #E0DDD8;
    position: absolute;
    left: 35px;
    top: 100px;
    z-index: 99999;
}

#p1-inside {
    display: inline-flex;
    width: 100%;
    height: 100%;
    text-align: center;
    height: 100%;
}

#p1hide {
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: red;
    display: none;
}

#p2 {
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: #E0DDD8;
    position: absolute;
    left: 35px;
    top: 160px;
    z-index: 99999;
}

#p2-inside {
    display: inline-flex;
    width: 100%;
    height: 100%;
    text-align: center;
    height: 100%;
}

#p2hide {
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: red;
    display: none;
}

#p3 {
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: #E0DDD8;
    position: absolute;
    left: 35px;
    top: 220px;
    z-index: 99999;
}

#p3-inside {
    display: inline-flex;
    width: 100%;
    height: 100%;
    text-align: center;
    height: 100%;
}

#p3hide {
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: red;
    display: none;
}

#memdiv {
    display: inline-block;
    width: 180px;
    background-color: #E0DDD8;
    position: absolute;
    right: 45px;
    top: 100px;
}

.mTR {
    height: 70px;
}

.m123span {
    text-align: center;
    border-right: 1px solid;
    border-bottom: 1px solid;
    width: 80px;
}

#m1slot {
    vertical-align: bottom;
    text-align: center;
    width: 100px;
    border-bottom: 1px solid;
}

#m2slot {
    vertical-align: bottom;
    text-align: center;
    border-bottom: 1px solid;
}

#m3slot {
    vertical-align: bottom;
    text-align: center;
    border-bottom: 1px solid;
}
